body{
    background-color:olivedrab;
    color: aliceblue;
}
p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:yellowgreen;
    background-color: black;
}
h1{
    color: aqua;
    background-color: blanchedalmond;
    text-align: center;
    padding: 67;
    size: 1px;
}